.badge bg-secondary {
    /* font-family: 'Oxygen', sans-serif !important; */
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.code-block {
    background-color: rgb(236, 240, 243);
}

.card-text {
    margin-bottom: 0.35rem;
    margin-top: 0.35rem;
}

.card-title {
    margin-bottom: 0 !important;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}