<div class="container" *ngIf="!!content">
    <div class=" row">
        <div class="d-flex justify-content-between">
            <div class="col-sm-4 d-flex align-items-center">
                <div class="align-items-center">
                    <h1 class="m-0"><span class="bold comic-sans-font"><b>{{content.pageHeader}}</b></span></h1>
                </div>
            </div>
            <div class="col-sm-2 d-flex align-items-center mb-3">
                <mat-slide-toggle [checked]="false" class="custom-font-class" (click)="changeView($event)"> Switch to
                    Tutorial </mat-slide-toggle>
            </div>
            <!-- <div class="col-sm-3 d-flex align-items-center" *ngIf="!!prev_page">
    
            </div> -->
            <div class="col-sm-5 d-flex justify-content-end">
                <div class="d-grid gap-2  p-1" *ngIf="!!prev_page">
                    <button type="button" class="btn btn-dark custom_button fs-6" [routerLink]="[prev_page.url]"
                        routerLinkActive="active"> &lt;&lt;Prev:{{prev_page.pageName}}</button>
                </div>
                <div class="d-grid gap-2  p-1" *ngIf="!!next_page">
                    <button type="button" class="btn btn-dark fs-6 custom_button" [routerLink]="[next_page.url]"
                        routerLinkActive="active">Next
                        :{{next_page.pageName}} &gt;&gt;</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card" *ngFor="let topic of content.topicList">
        <div class="card-body">
            <h2 class="card-title">{{topic.topicHeader}}</h2>
            <div *ngFor="let topicMsg of topic.topicMsgList">
                <p class="card-text" [innerHTML]=topicMsg.topicText></p>
                <div class="d-flex" *ngIf="topicMsg.cardCodeList">
                    <div class="p-2 flex-fill fw-bold fst-italic code-block"
                        *ngFor="let cardCode of topicMsg.cardCodeList">
                        <code [innerHTML]=cardCode.code>
                        </code>
                        <p class="card-text" [innerHTML]=cardCode.textDesc></p>
                        <div class="d-flex justify-content-center" *ngIf="cardCode.img">
                            <img src="{{cardCode.img}}" alt="..." class="image-style border border-4 p-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>