.mat-expansion-panel {
    background-color: #212529;
    color: white !important;
    width: 10%;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important
}

.mat-expansion-panel-header-title {
    color: white !important;
}