/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}


@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url(./assets/fonts/Oxygen/Oxygen-Regular.ttf) format("truetype");
}

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif !important;
    background-color: #ffffff;
}

.container {
    background-color: aliceblue !important;
    padding-bottom: 2rem;
}