/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}


@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url(./assets/fonts/Oxygen/Oxygen-Regular.ttf) format("truetype");
}

body {
    margin: 0;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    background-color: #ffffff;
}

.container {
    background-color: aliceblue !important;
    padding-bottom: 2rem;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ffffff !important;
}

.mat-slide-toggle-thumb {
    background-color: black !important;
}

.mat-slide-toggle {
    padding-top: 0.5rem;
}

.image-style {
    max-height: 28rem;
}

code {
    color: #082946;
    font-family: 'Oxygen', sans-serif !important;
}

.custom_button {
    font-size: small !important;
}

.comic-sans-font {
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.mat-tree-node {
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}